{% extends 'base.html.twig' %}

{% block body %}
    <h1>Distance</h1>
    
    {% block content %}
        {{ distance }}
    {% endblock %}
    <br/><br/>
    <a href="{{ path('app_address_distancetool') }}">new calcul</a>
{% endblock %}